.ant-menu {
  &-inline {
    border: 0;
  }

  &-item {
    padding-left : 0 !important;
    padding-right: 0px !important;
    margin       : 60px 0 !important;
    font-size    : 25px;

    @media (max-width: 1200px) {
      font-size: 14px !important;
      margin   : 0 !important;
    }

    &:not(&-selected) {
      padding-left: 27px !important;
    }

    &-active {
      &::before {
        content         : ' ';
        width           : 20px;
        height          : 20px;
        background-color: @colors[yellow];
        margin-right    : 7px;
      }

      &::after {
        border-width: 7px !important;
        transform   : scaleY(0.5) !important;
      }

      .ant-menu-title-content {
        color: @colors[black];
      }
    }
  }
}